# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\kotlin\the-skull-of-zule\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
